 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 35px 70px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 45px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 20px);
  --gap: 30px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-1 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-2 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-3 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-4 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-5 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-6 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-7 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-8 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-9 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-19 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-10 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-10 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-11 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-23 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-12 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-25 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(75, 91, 98, 0.75), rgba(75, 91, 98, 0.75)), url('images/Gates1.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-13 {
  padding: 85px 45px 30px;
}

.u-section-1 .u-icon-13 {
  width: 97px;
  height: 97px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-27 {
  margin: -16px 32px 0 183px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-gap: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }
} .u-section-2 {
  background-image: none;
  --color-var: #f2f2f2;
}

.u-section-2 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-2 .u-text-1 {
  margin: 80px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 393px;
  background-image: url("images/Chania.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 393px;
  background-image: url("images/Naxos1.jpg");
  background-position: 1.81% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 393px;
  background-image: url("images/Santorini.jpg");
  background-position: 0% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 393px;
  background-image: url("images/Rodos1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 288px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 139px;
    margin-bottom: -277px;
  }

  .u-section-2 .u-image-1 {
    min-height: 324px;
  }

  .u-section-2 .u-image-2 {
    min-height: 324px;
  }

  .u-section-2 .u-image-3 {
    min-height: 324px;
  }

  .u-section-2 .u-image-4 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 136px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 291px;
  }

  .u-section-2 .u-image-1 {
    min-height: 248px;
  }

  .u-section-2 .u-image-2 {
    min-height: 248px;
  }

  .u-section-2 .u-image-3 {
    min-height: 248px;
  }

  .u-section-2 .u-image-4 {
    min-height: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1926px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1321px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -874px;
    margin-bottom: -284px;
  }

  .u-section-2 .u-image-1 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 558px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 704px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -247px;
    margin-bottom: -287px;
  }

  .u-section-2 .u-image-1 {
    min-height: 176px;
  }

  .u-section-2 .u-image-2 {
    min-height: 351px;
  }

  .u-section-2 .u-image-3 {
    min-height: 351px;
  }

  .u-section-2 .u-image-4 {
    min-height: 176px;
  }
} .u-section-3 {
  min-height: 690px;
}.u-section-4 .u-sheet-1 {
  min-height: 303px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 70px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: -7px;
  margin-bottom: 18px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(14.2857% - 8.57143px);
  grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
  min-height: 190px;
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-image-7 {
  height: 118px;
  width: 102px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -98px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(14.285714285714286% - 8.57143px);
    grid-template-columns: repeat(7, calc(14.285714285714286% - 8.57143px));
    min-height: 157px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -8px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(25% - 7.5000012499999995px);
    grid-template-columns: repeat(4, calc(25% - 7.5000012499999995px));
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -506px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}