.u-section-1 .u-sheet-1 {
  min-height: 187px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  margin: 98px auto 36px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 808px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  --radius: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 680px;
  filter: none;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  filter: none;
  width: 580px;
  height: 620px;
  --radius: 50px;
  margin: 0 -43px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 680px;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 100px auto 0 0;
  padding: 9px 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 561px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 502px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 561px;
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    --radius: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 385px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 364px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-layout-wrap-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
  --radius: 50px;
  margin: 0 auto 60px 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 680px;
  filter: none;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  filter: none;
  width: 580px;
  height: 620px;
  --radius: 50px;
  margin: 0 -43px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 680px;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 300px auto 0 0;
  padding: 7px 30px 8px 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --radius: 50px;
    min-height: 561px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 502px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 385px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 364px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 738px;
}

.u-section-4 .u-layout-wrap-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  --radius: 50px;
  margin: 0 auto 60px 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 680px;
  filter: none;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  filter: none;
  width: 580px;
  height: 620px;
  --radius: 50px;
  margin: 0 -43px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 680px;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 166px auto 0 0;
  padding: 9px 30px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 561px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 502px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 385px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 364px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 738px;
}

.u-section-5 .u-layout-wrap-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 60px;
  background-image: none;
  --radius: 50px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 668px;
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  filter: none;
  width: 580px;
  height: 620px;
  --radius: 50px;
  margin: 0 -43px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 669px;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
}

.u-section-5 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 43px auto 0 0;
  padding: 9px 30px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 551px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 502px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 552px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 385px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 633px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 364px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}