 .u-section-1 {
  background-image: none;
  min-height: 0;
}

.u-section-1 .u-image-1 {
  min-height: 600px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/history_port.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 210px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 135px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 85px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-list-1 {
  margin: 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 327px;
  grid-auto-columns: calc(25% - 7.5px);
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 30px;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 30px;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 30px;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px 30px;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 30px;
}

.u-section-2 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 110px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 286px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 86px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-13 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-17 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-19 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 515px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 100px 30px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 47px auto 60px;
  padding: 18px 59px 19px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
    font-size: 1.1111111111111112rem;
  }
} .u-section-4 {
  background-image: none;
  --color-var: #f2f2f2;
}

.u-section-4 .u-sheet-1 {
  min-height: 503px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-line-1 {
  position: absolute;
  top: 177px;
  left: auto;
  height: 88px;
  transform-origin: center top;
  --border-color-var: #86afc0;
  right: 152px;
}

.u-section-4 .u-line-2 {
  width: 896px;
  transform-origin: right center;
  left: 92px;
  top: 265px;
  position: absolute;
}

.u-section-4 .u-line-3 {
  position: absolute;
  top: 265px;
  left: 92px;
  height: 88px;
  transform-origin: center top;
  --border-color-var: #86afc0;
}

.u-section-4 .u-text-1 {
  --text-color-var: #86afc0;
  font-size: 1.875rem;
  margin: 40px 336px 0 330px;
}

.u-section-4 .u-text-2 {
  margin: 66px 809px 0 206px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-4 {
  width: 114px;
  transform-origin: left center;
  margin: -16px auto 0 809px;
}

.u-section-4 .u-text-3 {
  margin: -17px 92px 0 923px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: -27px 331px 0 684px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: -29px 570px 0 445px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-5 {
  width: 114px;
  transform-origin: left center;
  margin: -15px auto 0 92px;
}

.u-section-4 .u-line-6 {
  width: 114px;
  transform-origin: left center;
  margin: -2px auto 0 570px;
}

.u-section-4 .u-line-7 {
  width: 114px;
  transform-origin: left center;
  margin: -2px auto 0 331px;
}

.u-section-4 .u-text-6 {
  margin: 184px 331px 0 684px;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin: -29px 809px 0 206px;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: -29px 570px 0 445px;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-8 {
  width: 114px;
  transform-origin: left center;
  margin: -15px auto 0 570px;
}

.u-section-4 .u-line-9 {
  width: 114px;
  transform-origin: left center;
  margin: -2px auto 0 92px;
}

.u-section-4 .u-line-10 {
  width: 114px;
  transform-origin: left center;
  margin: -2px auto 60px 331px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-2 {
    transform: rotate(1deg);
    margin: 105px auto 0 0;
  }

  .u-section-4 .u-line-3 {
    right: 244px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 236px;
    margin-left: 367px;
    width: 475px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 709px;
    margin-left: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 815px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 231px;
    margin-left: 584px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 470px;
    margin-left: 345px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 231px;
    margin-left: 584px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 709px;
    margin-left: 106px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 470px;
    margin-left: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-2 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 126px;
    margin-left: 281px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-4 .u-line-4 {
    margin-left: 606px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 595px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 121px;
    margin-left: 474px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 360px;
    margin-left: 235px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 121px;
    margin-left: 474px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 595px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 360px;
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-2 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 328px;
    margin-right: 36px;
    margin-left: 211px;
    font-size: 1.6666666666666665rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: -3px;
    margin-right: 415px;
  }

  .u-section-4 .u-line-4 {
    margin-top: 34px;
    margin-left: 426px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -20px;
    margin-left: 415px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -20px;
    margin-right: 31px;
    margin-left: 384px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -76px;
    margin-right: 270px;
    margin-left: 145px;
  }

  .u-section-4 .u-line-5 {
    margin-top: 45px;
  }

  .u-section-4 .u-line-6 {
    margin-top: -15px;
    margin-left: 426px;
  }

  .u-section-4 .u-line-7 {
    margin-top: -42px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 231px;
    margin-right: 31px;
    margin-left: 384px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -19px;
    margin-right: 415px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 270px;
    margin-left: 145px;
  }

  .u-section-4 .u-line-8 {
    margin-top: -18px;
    margin-left: 426px;
  }

  .u-section-4 .u-line-10 {
    margin-top: 8px;
    margin-bottom: -123px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-2 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 315px;
    margin-right: 0;
    margin-left: 133px;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -29px;
    margin-right: 215px;
  }

  .u-section-4 .u-line-4 {
    margin-left: 226px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 215px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 170px;
    margin-left: 45px;
  }

  .u-section-4 .u-line-6 {
    margin-left: 226px;
  }

  .u-section-4 .u-line-7 {
    margin-left: 226px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 215px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 170px;
    margin-left: 45px;
  }

  .u-section-4 .u-line-8 {
    margin-left: 226px;
  }

  .u-section-4 .u-line-10 {
    margin-bottom: -110px;
    margin-left: 226px;
  }
}